.event {
    background-color: rgba(255, 94, 0, 0.877);
    height: 100vh;
    position: relative;
}
.event-vector {
    position: absolute;
}

.event-poster {
    position: relative;
    width: 450px;
    height: 500px;
    background-image: url('./Event_vector/bigcard_corner.png');
    
}
.posterClass {
    height: 430px;
    width: 380px;
    top: 30px;
    left: 30px;
    position: absolute;
}
.posterImg {
    height: 100%;
    width: 100%;
}
.event-details {
    border-radius: 49px;
    background-color: white;
    height: 340px;
    width: 790px;
}

.event-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.event-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    border-radius: 49px;
    background-color: white;
    width: 150px;
    padding: 1px 3px;
}